.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: var(--white-color);
    padding: 0.45rem;
    margin: 0 0.25rem;
  }
  
  .navbar a:hover {
    color: var(--light-color);
  }
  
  .navbar .welcome span {
    margin-right: 0.6rem;
  }
  
  .bg-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .navbar h1 a {
    color: var(--white-color);
    display: flex;
    align-items: center;
  }
  
  .navbar h1 a i {
    margin-right: 0.5rem;
  }
  
  @media (max-width: 700px) {
    .navbar {
      display: block;
      text-align: center;
      padding: 0.5rem;
    }
  
    .navbar ul {
      justify-content: center;
      padding-top: 0.7rem;
    }
  }